<div class="login-wrapper">
    <div class="content">
        <img src="/img/icon.png" alt="Grey Advertising">
        <p class="instructions">Please enter secret key to access back-end</p>
        <form action="/login" method="post">
        <div class="input-holder" >
            <input type="text" placeholder="Type in your pin....." name="pin">
        </div>
        <div class="btn-holder">
            <button type="submit">Login</button>
        </div>
        </form>
        
    </div>
</div>

<link rel="stylesheet" href="/css/login.css">